* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 430px;
    background-color: #1F2937;
    position: fixed;
    width: 100%;
}

.nav-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#nav-links {
    display: flex;
    gap: 30px;
}

.nav-link, #hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

#hero-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 120px 430px 100px;
    background-color: #1F2937;
}

#hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

#hero-secondary {
    margin-bottom: 20px;
}

#hero-section img {
    width: 540px;
}

#hero-btn, #cta-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
}

#hero-btn {
    padding: 8px 35px;
    border: none;
}

#info-section {
    padding: 50px 500px;
    text-align: center;
}

#info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.flex-container {
    display: flex;
    gap: 30px 60px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.flex-item {
    width: 175px;
}

.flex-item img {
    width: 100%;
    height: 175px;
    border: 4px solid #3882F6;
    border-radius: 20px;
    margin-bottom: 4px;
}

.flex-item p {
    color: dimgray;
    font-size: 18px;
}

#quote-section {
    background-color: #E5E7EB;
    padding: 125px 565px;
}

#quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#quotation {
    margin-right: 25px;
    color: #1F2937;
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

#cta-section {
    padding: 100px 430px;
}

#cta-container {
    background-color: #3882F6;
    padding: 50px 125px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cta-header {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#cta-info {
    color: #E5E7EB;
    font-weight: 300;
    font-size: 18px;
}

#cta-btn {
    border: 2px solid white;
    padding: 6px 35px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    padding: 36px;
    color: white;
    font-weight: 300;
    font-size: 18px;
}